{% extends "core/base.html" %}

{% block title %}Pedidos{% endblock %}

{% block content %}
    <div class="col-12">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">Status do pedido</h5>
                <p class="card-text text-muted">
                    Aqui o status do pedido....
                </p>
                <a href="{% url 'core:home' %}" class="btn btn-outline-primary">Voltar</a>
            </div>
        </div>
    </div>
{% endblock %}